{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <!--LOGIN CODE-->
  <form action="{{ url_for('login') }}" method=post>
    <<div id="wrapper">

<div class="form_div">
<p class="form_label">LOGIN</p>
    <form method="post" action="">
       {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <p><input type="submit" value="LOGIN"></p>
    </form>
</div>
    <!--LOGIN CODE END-->
<br>
<br>
<br>
</div>
  </form>
{% endblock %}