{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
  {{title}}
{% endblock %}


{% block content %}
<!--NAVBAR CODE-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <br>
      <a class="navbar-brand"><font size="+3" color="#ffc778">Archer</font></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    <br>
      <ul class="nav navbar-nav navbar-font">
          <li><a>........</a></li>
          <li><a href="{{ url_for('homePage') }}"><font size="+1" color="#ffc778"> Home </font> </a></li>
        {% if current_user.is_anonymous %}
            <li><a>........</a></li>
            <li><a href="{{ url_for('login') }}"><font size="+1" color="#ffc778">Login</font></a></li>
            <li><a>........</a></li>
            <li><a href="{{ url_for('signup') }}"><font size="+1" color="#ffc778">Sign Up</font></a></li>
            <li><a>........</a></li>
            <li><a href="{{ url_for('about') }}"><font size="+1" color="#ffc778">About Us</font></a></li>
            <li><a>........</a></li>
            <li><a href="{{ url_for('contact') }}"><font size="+1" color="#ffc778">Contact Us</font></a></li>
        {% else %}
            <li><a href="{{ url_for('user', username = current_user.username) }}"><font size="+1" color="#ffc778">Profile</font></a></li>
            <li><a href="{{ url_for('about') }}"><font size="+1" color="#ffc778">About Us</font></a></li>
            <li><a href="{{ url_for('contact') }}"><font size="+1" color="#ffc778">Contact</font></a></li>
            <li><a href="{{ url_for('logout') }}"><font size="+1" color="#ffc778">Logout</font></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
 </nav>
    <!--NAVBAR CODE-->
    <br><br><br><br><br><br><br>
   <!--ABOUT US CODE-->
   <html>
       <title>About Us</title>
   <body style = "background-color:Black">
     <center> <h1 style = "color:#ffc778"> About Us <h1>
       <h2 style = "color:#f5d7ab;">
           Archer is an website that will help you make friends
           based on common intrests. Archer is devloped by John Hoang,
           Gurvin Kohli, Daniel Tran, and Edgar Yu. All four of us have
           always believed that making friends is a vital part of a
           students acedemic sucess. Hence Archer will help everyone at
           San Jose State University to make friends but most importantly
           Archer will help freshmen make friends.
       <h2>
     </center>
   <center><br>
       <h1 style="color:#f5d7ab;">
       ░▄██▄██▄/\",,¸/\. /\",,¸/\ <br>&nbsp&nbsp&nbsp&nbsp
       ░███████(=•_•=)(=•_•=)< <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       ░░▀███▀__/▶●◀\| /▶●◀\__ <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       ░░░░▀░_(ö¯)\|/( ö¯)(¯ö)\|/(ö¯) <br>
       </h1>
       </center>
   </body>
   </html>
<!--ABOUT US CODE-->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
{% endblock %}
