<html>
    <title>Contact Us</title>
<body style = "background-color:Black">
  <center> <h1 style = "color:#ffc778"> Contact Us <h1>
    <h2 style = "color:#f5d7ab;">
     	Hours of operation: Monday - Friday 9 A.M. - 5 P.M.
    <h2>
  <h2 style = "color:#f5d7ab;">
    Phone: (408)-967-3886<br>
    24 x 7 phone assistance avaliable
  </h2>
  <h2 style = "color:#f5d7ab;">
    Email: Archer@asrc.edu
  <h2>
    <h2 style = "color:#f5d7ab;">
    Address: 9935 Waime Ln, Elk Grove, CA 95624
  </h2>
  <h2 style = "color:#f5d7ab;">
    We respond to emails within 48 hours
  </h2>
      </center>
 <center><br>
    <h1 style="color:#f5d7ab;">
    ░▄██▄██▄/\",,¸/\. /\",,¸/\ <br>&nbsp&nbsp&nbsp&nbsp
    ░███████(=•_•=)(=•_•=)< <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    ░░▀███▀__/▶●◀\| /▶●◀\__ <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    ░░░░▀░_(ö¯)\|/( ö¯)(¯ö)\|/(ö¯) <br>
    </h1>
    </center>
</body>
</html>