{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <!--SIGNUP CODE-->
     <!--SIGNUP CODE-->
    <div class="container">
      <form class="form-signin" method="POST" action="/signup">
        <h2 class="form-signin-heading">Sign Up</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
        <button class="buttonPress" type="submit">Sign Up</button>
      </form>
    <!--SIGNUP CODE-->
</div>
{% endblock %}
